<script setup lang="ts">
  import { computed, ref } from 'vue'

  import BaseInput from './components/atoms/BaseInput.vue'
  import BaseButton from './components/atoms/BaseButton.vue';

  const firstName = ref()
  const showFirstName = ref()

  const buttonText = computed(() => {
    return showFirstName.value ? 'Hide' : 'Show'
  })

  const toggleShow = () => {
    showFirstName.value = !showFirstName.value
  }
</script>

<template>
  <div class="w-full">
    <BaseInput
      v-model="firstName"
      placeholder="Type your name"
      label="First Name"
      class="max-w-xs inline-block"
    />

    <BaseButton
      v-if="firstName"
      classes="bg-green-500 border-green-500 text-white ml-2"
      @click="toggleShow"
    >
      {{ buttonText }}
    </BaseButton>

    <div class="mt-2">
      My name is: 
      <span
        v-if="showFirstName && firstName"
        class="font-bold"
      >
        {{ firstName }}
      </span>
    </div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 60px;
}
</style>
